<template>
  <div>
    <q-scroll-area style="height: 80vh; width: 100%">
      <q-card class="row">
        <div class="col-md-6 col-xs-6 col-sm-6 q-pb-md" v-for="(restaurant, idx) in markerss" :key="idx" @click="routerPush('/dashboard/restaurant/filter/' + restaurant.id)" style="position: relative;">
          <div class="open-label" v-if="restaurant.hour_open != 'CE' && nowHours >= restaurant.hour_open">
            <q-icon size="24px" name="img:statics/abierto.png">
            </q-icon>
            <q-tooltip :content-style="{ background: 'black', color: 'white' }" anchor="center left" self="center right" :offset="[5, 5]" transition-hide="rotate">
              Abierto.
            </q-tooltip>
          </div>
          <div v-else class="open-label">
            <q-icon  size="24px" name="img:statics/cerrado.png">
            </q-icon>
            <q-tooltip :content-style="{ background: 'black', color: 'white' }" anchor="center left" self="center right" :offset="[5, 5]" transition-hide="rotate">
              Cerrado.
            </q-tooltip>
          </div>
          <q-carousel animated autoplay infinite v-model="slider" height="140px" v-if="restaurant.images.data.length >= 1">
            <q-carousel-slide v-for="(image, idx) in restaurant.images.data" :img-src="urlImg + '/image/restaurant/' + image.path" :name="idx" :key="idx">
              <div class="absolute-bottom custom-caption">
                <div class="text-h6 text-left q-pl-sm" style="font-size: 12px !important">{{restaurant.name}}</div>
              </div>
            </q-carousel-slide>
          </q-carousel>
          <div class="row q-mt-md">
            <div class="col-xs-6 col-sm-6 text-center" style="font-size: 10px">
              <q-icon name="img:statics/icon1.svg" /><br> {{restaurant.foodType.name}}
            </div>
            <div v-if="restaurant.hour_open != 'CE'" class="col-xs-6 col-sm-6 text-center" style="font-size: 10px">
              <q-icon name="img:statics/apertura.svg" /><br> {{restaurant.hour_open.substr(0, 5)}} - {{restaurant.hour_close.substr(0, 5)}}
            </div>
            <div v-if="restaurant.hour_open == 'CE'" class="col-xs-6 col-sm-6 text-center" style="font-size: 10px">
              <q-icon name="img:statics/apertura.svg" /><br> Cerrado
            </div>
          </div>
        </div>
      </q-card>
    </q-scroll-area>
    <div class="fixed-option-buttom">
        <q-btn color="black" class="shadow-10 button-fixed-radius" icon="img:statics/filtrar.svg" @click="areaDialog = !areaDialog" />
        <!--<q-btn color="black" class="shadow-10 button-fixed-radius" icon="img:statics/mapa.svg" @click="getCoords" />-->
      </div>
    <q-drawer v-model="areaDialog" :side="sideRight" show-if-above :width="240" :breakpoint="500" content-class="bg-black">
      <q-scroll-area class="fit">
        <div class="row q-pa-md q-mt-lg">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <p class="text-white text-h6">Filtrar por precio</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: -20px">
            <q-range @input="togglePrice" :min="15000" :step="5000" :max="100000" v-model="rangePrice" label color="white" label-text-color="black"/>
            <div class="row" style="margin-top: -10px">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white" style="font-size: 10px">
                $15.000
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white text-right" style="font-size: 10px;">
                $100.000
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-mt-lg">
            <p class="text-white text-h6">Filtrar por area</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: -15px">
            <q-range :disable="disableRangeFilter" @input="toggleRange" :min="0" :step="2" :max="10" v-model="rangeArea" label color="white" label-text-color="black"/>
            <div class="row" style="margin-top: -10px">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white" style="font-size: 10px">
                1 Km
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white text-right" style="font-size: 10px;">
                10 Km
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-mt-lg">
            <p class="text-white text-h6">Filtrar por comida</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <q-scroll-area class="scroll-type-food">
              <q-list style="height: 100%">
                <q-item-label header>Selecciona la comida</q-item-label>
                <q-item style="min-height: 8px !important; margin-top: -10px !important;" clickable v-ripple v-for="(foodType, idx) in foodTypeList" :key="idx" @click="toggleRestaurantByTypeFood(foodType.id)">
                  <q-item-section>{{foodType.name}}</q-item-section>
                </q-item>
              </q-list>
            </q-scroll-area>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-pt-lg">
            <center>
              <p @click="resetFilter" class="text-white">Reiniciar Filtro</p>
            </center>
          </div>
        </div>
      </q-scroll-area>
    </q-drawer>
  </div>
</template>

<script>
import { domainImg } from '../../api/data'

export default {
  // name: 'PageName',
  computed: {
    restaurants () {
      return this.$store.getters['restaurant/restaurantLists']
    },
    foodTypeList () {
      return this.$store.getters['filter/getFoodTypeLists']
    }
  },
  data () {
  	return {
  		urlImg: domainImg,
      slider: 0,
      coords: {
        lat: 6.25184,
        lng: -75.56359
      },
      areaDialog: false,
      sideRight: 'right',
      rangePrice: {
        min: 0,
        max: 15000
      },
      rangeArea: {
        min: -10,
        max: 0
      },
      filterData: [],
      disableRangeFilter: false,
      maxPrice: null,
      maxRange: null,
      markerss: [],
      nowHours: null
  	}
  },
  methods: {
  	getRestaurantData () {
      this.$store.dispatch('restaurant/getRestaurants')
        .then((resp) => {
        	this.markerss = resp.data.data
        })
        .catch(err => alert(err))
    },
    routerPush (key) {
      this.$router.push({ path: key })
    },
    getCoords () {
      navigator.geolocation.getCurrentPosition(this.geoSuccess, this.geoError, {maximunAge: 30000, timeout: 10000, enableHighAccuaracy: true})
    },
    geoSuccess (position) {
      this.coords.lat = position.coords.latitude
      this.coords.lng = position.coords.longitude
    },
    geoError (err) {
      alert(err.message)
    },
    togglePrice (event) {
      this.maxPrice = event.max
      this.filterData = []
      for (var i = 0; i < this.restaurants.length; i++) {
        if (this.restaurants[i].promed_price_food >= 15000.00 && this.restaurants[i].promed_price_food <= event.max ) {
          this.filterData.push(this.restaurants[i])
        }
      }
      this.oldMarkerss = this.restaurants
      this.markerss = this.filterData
    },
    toggleRange (event) {
      this.disableRangeFilter = true
      this.area = event.max
      this.filterData = []
      this.maxRange = event.max
      let data = { area: this.area, lat: this.coords.lat, lng: this.coords.lng }
      this.$store.dispatch('filter/filterRestaurantArea', data)
        .then((resp) => {
          if (resp.data.data) {         
            this.$store.dispatch('restaurant/setRestaurant', resp.data)
              .then((resp) => {
                this.disableRangeFilter = false
                if (this.maxPrice != null) {
                  this.validatePriceFilter()
                } else {
                  for (var e = 0; e < resp.data.length; e++) {
                    this.filterData.push(resp.data[e])
                  }
                  this.addMarkerByPrice()
                }
              })
              .catch(err => alert(err))
          }
        })
        .catch(err => 
          alert(err) 
        )
    },
    validatePriceFilter () {
      this.filterData = []
      if (this.maxPrice != 15000) {
        for (var i = 0; i < this.restaurants.length; i++) {
          if (this.restaurants[i].promed_price_food >= 15000.00 && this.restaurants[i].promed_price_food <= this.maxPrice) {
            this.filterData.push(this.restaurants[i])
            this.addMarkerByPrice()
          }
        }
      } else {
        this.markerss = this.restaurants
      }
    },
    addMarkerByPrice () {
      this.markerss = this.filterData
    },
    getTypeFood () {
      this.$store.dispatch('filter/getTypeFood')
        .then((resp) => {
        })
        .catch(err => alert(err))
    },
    toggleRestaurantByTypeFood (key) {
      // global array
      var data = []
      this.infoWinOpen = false
      // validate if isset item in filterData (vue global array)
      if (this.filterData.length >= 1) {
        for (var i = 0; i < this.filterData.length; i++) {
          if (this.filterData[i].foodType.id == key) {
            data.push(this.filterData[i])
          }
        }
        this.filterData = []
        this.filterData = data
        this.markerss = data
      // validate if isset item in store restaurant
      } else {
        for (var i = 0; i < this.restaurants.length; i++) {
          if (this.restaurants[i].foodType.id == key) {
            data.push(this.restaurants[i])
          }
        }
        this.filterData = []
        this.filterData = data
        this.markerss = data
      }
      this.addMarkerByPrice()
      this.filterData = []
    },
    resetFilter () {
      this.$store.dispatch('restaurant/getRestaurants')
        .then((resp) => {
          this.rangePrice.max = 15000
          this.rangeArea.max = 0
          this.markerss = resp.data.data
        })
        .catch(err => console.log(err))
    },
    getHourNow () {
      let hoy = new Date()
      let hora = hoy.getHours() +':' + hoy.getMinutes()
      this.nowHours = hora
    }
  },
  beforeMount () {
  	this.getRestaurantData()
    this.getTypeFood()
    this.getHourNow()
  }
}
</script>
<style lang="stylus">
.my-card
  width: 100%
  border-radius: 10px
  height: 150px
</style>
