<template>
  <q-layout view="hHh Lpr lff"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar class="bg-black">
       <!--<q-btn flat round dense icon="chevron_left" @click="$router.back()" />-->
        <img src="../../statics/LOGO-WHITE-EM.png" width="20px" style="
        margin-left:5px ">
        <q-toolbar-title>
          EATSMEDELLIN
        </q-toolbar-title>
        <q-btn flat round dense icon="menu" @click="leftDrawer = !leftDrawer" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawer" show-if-above :width="200" :breakpoint="500" content-class="bg-black" >
    <!-- QScrollArea is optional -->
    <q-scroll-area class="fit q-pa-sm">
      <!-- Content here -->
      <q-list style="font-size: 16px" class="text-white">
        <q-item-label header class="text-weight-bolder text-white text-center">Menu</q-item-label>
        <q-separator color="white"/>
        <q-item @click="$router.push({ path: '/dashboard/main' })" clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="map" />
          </q-item-section>
          <q-item-section>
            Mapa
          </q-item-section>
        </q-item>
        <q-item @click="$router.push({ path: '/dashboard/filter' })" clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="img:statics/filtrar.svg" />
          </q-item-section>
          <q-item-section>
            Filtrar
          </q-item-section>
        </q-item>
        <q-separator color="white"/>
        <q-item clickable v-ripple @click="logout">
          <q-item-section avatar>
            <q-icon name="img:statics/login.svg" style="background: white; border-radius: 50px;color:white !important" />
          </q-item-section>
          <q-item-section>
            Logout
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </q-drawer>
  <!-- (Optional) The Footer -->
  <q-footer class="shadow-10">
    <q-separator color="white"/>
    <q-tabs switch-indicator class="bg-black">
      <q-route-tab
      style="padding: 0px"
      to = "/dashboard/main"
      replace
      >
      <span>Mapa <q-icon name="img:statics/mapa.svg" /></span>
    </q-route-tab>
    <q-route-tab
    to = "/dashboard/lista"
    replace
    >
    <span>Lista <q-icon name="list_alt"/></span>
  </q-route-tab>
</q-tabs>
</q-footer>

<q-page-container>
  <!-- This is where pages get injected -->
  <q-ajax-bar
  position="top"
  color="red-8"
  size="5px"
  />
  <router-view />
</q-page-container>

</q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',

  data () {
    return {
      leftDrawer: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
      .then((resp) => {
        this.$router.push({ path: '/login' })
      })
      .catch(err => alert(err))
    },
    routerPush (key) {
      this.$router.push({ path: key })
    }
  }
}
</script>
