<template>
	<q-page>
		<q-card class="fullscreen bg-custom  text-white text-bold">
			<div class="login-card-overlay">
				<img src="../statics/bg1.jpg" style="width: 100%; height:100%" />
				<div class="col-xs-12 col-sm-12" style="width: 100%;position: absolute; top:20%;z-index: 2 !important">
					<center><h5 class="text-h4 text-bold text-center"><img src="../statics/LOGO-WHITE-EM.png" width="30px" style="margin-top: 30px"> <span style="margin-left:10px">EatsMedellin</span></h5></center>
				</div>
				<q-card-section class="row absolute-bottom q-pb-lg q-mb-lg bottom-5" >
					<div style="width:90%; position: absolute; top: 25%; left:20px">
						<div class="col-sm-6 col-xs-12">
							<div class="centerx labelx">
							<vs-input label="Name" v-model="login.email" type="email" placeholder-color="red" label-placeholder="EMAIL" color="white" style="width:100%" placeholder="" />
							</div>
							<span v-if="submit && !$v.login.email.required" class="text-red-8">Por favor ingresa tu email</span>
							<span v-if="submit && !$v.login.email.email" class="text-red-8">Ingresa una dirección de correo valida</span>
						</div>
						<div class="col-sm-6 col-xs-12 q-mt-sm q-pt-sm">
							<vs-input v-model="login.password" type="password" label-placeholder="white" color="white" style="width:100%" placeholder="CONTRASEÑA" />
							<span v-if="submit && !$v.login.password.required" class="text-red-8">Por favor ingresa tu contraseña</span>
						</div>
						<div class="col-sm-12 col-xs-12 q-mt-lg q-mb-lg">
							<center><vs-button color="white" id="login-button" @click="logins" text-color="rgb(10, 20, 30)">INICIAR SESIÓN</vs-button></center>
							
						</div>
					</div>
					<div style="position: absolute; bottom: 115px; left: 0px;" class="col-md-12 col-xs-12 col-sm-12 q-pt-lg q-mt-lg">
						<p></p><p></p>
						<!--<center>
						<vs-button style="font-weight: 100" @click="loginWithFB" id="fb-logins" color="white" type="border"><q-img src="../statics/face.png" style="height: 20px; max-width: 20px; margin-right: 5px"/>INICIAR SESIÓN CON FACEBOOK</vs-button>
						</center>-->
						<center>
						<vs-button @click="googleLogin" class="q-pt-lg" id="fb-logins2" style="font-weight: 100" color="white" type="border"><q-img src="../statics/google.png" style="height: 20px; max-width: 20px; margin-right: 5px"/>INICIAR SESIÓN CON GOOGLE</vs-button>
						</center>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12 q-mt-sm" style="position: absolute;bottom:30px">
					<p class="text-center text-white" style="font-weight: 300; font-size: 12px" @click="routerPush('profile')">¿Aun no tiene cuenta? <span style="font-size:14px; " class="uppercase">REGISTRATE</span></p>
					<p class="text-white text-center" style="font-weight: 300; font-size: 12px; margin-top: -10px" @click="routerPush('recovery')">
						¿Perdiste tu contraseña?
					</p>
					</div>
				</q-card-section>
				<!--<div class="row q-mt-sm text-center q-mt-md q-pt-sm absolute-bottom">
					<div class="col-xs-12 col-sm-12 absolute-bottom" style="margin-top: 15px; font-size: 12px">
						MedellinEats 2019. <q-icon name="copyright" />Derechos reservados
					</div>
				</div>-->
			</div>
		</q-card>
	</q-page>
</template>

<script>
	const { required, email } = require('vuelidate/lib/validators')
	import { Notify } from 'quasar'

	export default {
		name: 'PageIndex',
		computed: {

		},
		validations: {
			login: {
				email: {
					required,
					email
				},
				password: {
					required
				}
			}
		},
		data () {
			return {
				login: {},
				submit: false,
				errorrr: null,
				userData: {},
				user: {}
			} 
		},
		methods: {
			loginWithFB() {
			    facebookConnectPlugin.login(["public_profile", "email"], function(result) {
			        //calling api after login success
			        facebookConnectPlugin.api("/me?fields=email,name,picture",
			            ["public_profile", "email"],
			            function(userData) {
			                //API success callback
			                alert(JSON.stringify(userData));
			            },
			            function(error) {
			                //API error callback
			                alert(JSON.stringify(error));
			            });
			    }, function(error) {
			        //authenication error callback
			        alert(JSON.stringify(error));
			    });
			},
			logins () {
				this.submit = true
				this.$v.$touch();
				if (this.$v.$invalid) {
					return;
				}
				let login = this.login
				this.$store.dispatch('auth/login', { login })
				.then((resp) => {
					if (resp.data.Success) {
						this.routerPush('dashboard/main')
					} 
				})
				.catch(err => 
					this.errorrr = err.message	 
				)
			},
			routerPush (key) {
				this.$router.push({ path: key })
			},
			openBrowser (key) {
				alert(key)
			},
			loginFacebook () {
			},
		    geoSuccess (position) {
				alert('Latitud ' + position.coords.latitude + 'Longitud '+position.coords.longitude)
		    },
		    geoError (err) {
		    	alert(err.message)
		    },
		    validateIfGpsIsEnabled () {
		      cordova.plugins.diagnostic.isLocationEnabled(this.gpsSuccessEnabled, this.GpsErrorEnabled);
		    },
		    gpsSuccessEnabled (res) {
		      if (!res){
		         alert("El gps esta " + (res ? "Activado" : "Desactivado") + ", por favor presiona aceptar para activarlo.");
		      }
		      !res ? cordova.plugins.diagnostic.switchToLocationSettings() : '';
		    },
		    GpsErrorEnabled () {
		      alert("Error: "+JSON.stringify(err));
		    },
		    googleLogin () {
		    	window.plugins.googleplus.login({
				    //options if any
				}, function(result) {
					this.user.name = result.displayName
					this.user.dni = 123
					this.user.phone = 123456789
					this.user.email = result.email
					this.user.password = 123456789
					// user data
				    this.userData.name = result.displayName
				    this.userData.email = result.email
				    this.userData.password = 123123
				    this.userData.id = result.displayName + 1
				    let userData = this.userData
				    this.$store.dispatch('auth/loginGooglePluss', { userData })
						.then((resp) => {
							this.validateGplusRegister()
							this.routerPush('dashboard/main')
						})
						.catch(err => 
							this.errorrr = err.message	 
						)
				}.bind(this), function(error) {
				    alert(JSON.stringify(error));
				});
		    },
		    validateGplusRegister () {
		      let user = this.user
		      this.$store.dispatch('auth/register', { user })
		        .then((resp) => {
		          if (resp.data.Success) {
		          } else if (resp.data.Error) {
		          }
		        })
		        .catch(err => console.log(err))
		    }
		},
		beforeMount () {
			if (this.$store.getters['auth/user'].id) {
				this.routerPush('dashboard/main')
			}
			this.validateIfGpsIsEnabled()
			// navigator.geolocation.getCurrentPosition(this.geoSuccess, this.geoError, {maximunAge: 30000, timeout: 10000, enableHighAccuaracy: true})
		}
	}
</script>
