<template>
  <q-page style="overflow-y: auto">
    <q-card class="fullscreen bg-custom">
      <div class="login-card-overlay">
        <img src="../../statics/bg1.jpg" style="width: 100%; height:100%" />
        <q-card-section class="row" style="margin-top: -30px; position: absolute; top: 10%">
        <div class="row" style="width: 100% !important">
          <div class="col-sm-12 col-xs-12">
            <center>
              <h3 class="text-center text-white text-h4 uppercase">Registro</h3>
            </center>
          </div>
        </div>
         <div class="col-sm-12 col-xs-12">
          <vs-input label="Name" v-model="user.name" type="name" placeholder-color="red" label-placeholder="Nombre de usuario" color="white" style="width:100%; color:white" placeholder="" />
          <span v-if="submit && !$v.user.name.required" class="text-red-8">Por favor ingresa tu nombre</span>
        </div>
        <div class="com-sm-12 col-xs-12 q-mt-lg">
          <vs-input label="Name" v-model="user.dni" type="text" placeholder-color="red" label-placeholder="Cédula de identidad" color="white" style="width:100%; color:white" placeholder="" />
          <span v-if="submit && !$v.user.dni.required" class="text-red-8">Por favor ingresa tu céduula</span>
        </div>
        <div class="com-sm-12 col-xs-12 q-mt-lg">
          <vs-input label="Name" v-model="user.phone" type="text" placeholder-color="red" label-placeholder="Teléfono" color="white" style="width:100%; color:white" placeholder="" />
          <span v-if="submit && !$v.user.phone.required" class="text-red-8">Por favor ingresa tu teléfono</span>
        </div>
        <div class="com-sm-12 col-xs-12 q-mt-lg">
          <vs-input label="Name" v-model="user.email" type="email" placeholder-color="red" label-placeholder="Correo electrónico" color="white" style="width:100%; color:white" placeholder="" />
          <span v-if="submit && !$v.user.email.required" class="text-red-8">Por favor ingresa tu correo</span>
          <span v-if="submit && !$v.user.email.email" class="text-red-8">El correo es invalido</span>
        </div>
        <div class="com-sm-12 col-xs-12 q-mt-lg">
          <vs-input label="Name" v-model="user.password" type="password" placeholder-color="red" label-placeholder="Contraseña" color="white" style="width:100%; color:white" placeholder="" />
          <span v-if="submit && !$v.user.phone.required" class="text-red-8">Por favor ingresa tu contraseña</span>
        </div>
        <div class="col-sm-12 col-xs-12 q-mt-lg">
          <center><vs-button style="width:80%" color="white" id="login-button" @click="register" text-color="rgb(10, 20, 30)">REGISTRAR</vs-button></center>
       </div>
     </q-card-section>
   </div>
 </q-card>
</q-page>
</template>

<script>
import { Notify } from 'quasar'
const { required, email } = require('vuelidate/lib/validators')

export default {
  // name: 'PageName',
  validations: {
    user: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      dni: {
        required
      },
      phone: {
        required
      },
      password: {
        required
      }
    }
  },
  data () {
    return {
      user: {},
      submit: false
    }
  },
  methods: {
    register () {
      this.submit = true
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      let user = this.user
      this.$store.dispatch('auth/register', { user })
        .then((resp) => {
          if (resp.data.Success) {
            Notify.create({
              message: 'Te has registrado correctamente.',
              type: 'positive',
              color: 'green-8',
              position: 'bottom-right'
            })
            this.routerPush('login')
          } else if (resp.data.Error) {
            Notify.create({
              message: 'El correo esta en uso.',
              type: 'negative',
              color: 'red-8',
              position: 'bottom-right'
            })
          }
        })
        .catch(err => console.log(err))
    },
    clean () {
      this.user = {}
    },
    routerPush (key) {
      this.$router.push({ path: key })
    }
  }
}
</script>
<style lang="stylus">
.100width
  width: 100% !important
</style>
